/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* VARIABLES */
:root {
  --primary: #ff5100;
  --dark: #000;
  --light: #fff;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--dark);
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--light);
  font-weight: bold;
}

.logo img {
  width: 30px;
}

/* NAV */
.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav a {
  color: var(--light);
  text-decoration: none;
  transition: 0.3s;
}

.nav a:hover {
  color: var(--primary);
}

/* REDES */
.redes {
  display: flex;
  gap: 15px;
  color: var(--light);
}

/* MENU ICON */
.menu-toggle {
  display: none;
  color: var(--light);
  font-size: 22px;
  cursor: pointer;
}

/* HERO */
#inicio {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
              url(fondo.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  color: white;
  font-size: 60px;
}

/* CONTENIDO */
.contenido {
  padding: 80px 0;
}

.contenido h1 {
  margin: 30px 0;
  color: var(--primary);
}

.contenido h2 {
  margin: 20px 0;
}

.contenido p {
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 30px 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: black;
    display: none;
  }

  .nav ul {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
  }

  .nav.active {
    display: block;
  }

  .menu-toggle {
    display: block;
  }

  .redes {
    display: none;
  }

  .hero h1 {
    font-size: 35px;
    text-align: center;
  }
}